
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
}

header{
    text-align: right;
    padding: 8px;
    position: relative;
}
.navbar-brand{
  font-family: 'Questrial', sans-serif;
    color: rgb(0, 53, 78);
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}
.nav-link{
    color: rgb(0, 60, 78);
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 15px;
}
.nav-link:hover{
  border-bottom: 3px solid rgb(221, 81, 0);
    color: rgb(153, 153, 153);
}

.hero{
    display: flex;
    justify-content: space-between;
}

h2{
    text-align: left;
    color: rgb(0, 65, 109);
    font-size: 70px;
    font-weight: 600;
    padding: 70px 5px 0 80px;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}
.headline p{
   text-align: justify;
   color: rgb(83, 83, 83);
   padding: 0px 0px 0px 90px;
   font-size: 20px;
   width: 50%;
}

.headline img{
    float: right;
    height: auto;
    border-radius: 10px;
    margin-top: -200px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.texto-branco p{
  max-width: 50%;
   text-align: justify;
   color: rgb(247, 247, 247);
   padding: 0px 0px 0px 90px;
   font-size: 20px;
}

.headline h3{
    text-align: left;
    color: rgb(50, 50, 51);
    font-size: 30px;
    font-weight: 600;
    padding: 0 5px 0 80px;

    font-family:'Courier New', Courier, monospace;
}

footer{
  border-top: 4px solid rgb(255, 255, 255);
  height: 300px;
  background-image: linear-gradient(180deg, #53a8c2, #125164, rgb(27, 33, 36));
  text-align: center;
  padding: 100px;
  color: rgb(228, 228, 228);
  font-family: "Questrial", sans-serif;
}
.container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  max-width:100%;
  padding: 10px;
}
